div{
	width:100px;
	height: 100px;
	position:relative;
}
body{
margin:0px;
padding: 0px;}
.rojo{
	background-color: #ee3e64;
}
.azul{
	background-color: #44accf;
	left:100px;

}
.verde{
	background-color: #b7d84b;
}